.centerAll{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90%;
    height: auto;
    padding: 20px 10px;
    background-color: #fff;
    min-height: calc(100vh - 60px);
    box-shadow: 0 0 3px #555;
}

.innerContainer{
    height: auto;
    width: 100%;
    background-color: #fff;
    margin: 20px 0;
    padding: 5px;    
}

.options{
    height: 40px;
    padding: 1px 5px;
    background-color: aquamarine;
    
}

.uploadButton{
    height: 40px;
    width: 120px;
    padding: 0 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0081faae;
    border-radius: 10px;
    color: #fff;
    transition: all 0.3s;
}

.uploadButton:hover{
    background-color: #0081fadd;
    letter-spacing: 2px;
    transform: scale(1.05);
}